body {
    background-color: aquamarine;
    align-items: center;
}

ul {
    list-style-type: none; 
    margin: 0;           
    padding: 0;           
    width: 150px;         
    background-color: #333; 
    height: 100vh;       
    position: fixed;      
    top: 0;
    left: 0;              
    overflow: auto;       
  }
  
  li {
    float: none; 
  }
  
  li a {
    display: block;         
    color: white;           
    text-align: left;       
    padding: 14px 16px;      
    text-decoration: none;   
  }
  
  li a:hover {
    background-color: #111; 
  }
  
  h1{
    color: rgb(15, 15, 14);
    margin-left: 150px;
  }

  table {
    width: 100%; 
    border-collapse: collapse; 
    margin-left: 150px;
    font-size: 16px; 
    text-align: left; 
  }
  
  th, td {
    border: 1px solid #ddd; 
    padding: 12px 15px; 
  }
  
  th {
    background-color: #333; 
    color: white; 
    text-transform: uppercase; 
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; 
  }
  
  tr:hover {
    background-color: #f1f1f1; 
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd; 
  }
  
  td {
    color: #555; 
  }

  img {
    width: 300px; 
    height: auto; 
    position: relative; 
    margin: 0px 0 20px 150px; 
    display: block; 
  }
  
  