body {
    background-color: rgb(8, 8, 72);
    align-items:d;}

form {
    background: #e5baba; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px 30px; 
    max-width: 400px; 
    margin: 20px auto; 
    text-align: center; 
}
  
  form h1 {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 15px; 
  }
  
  form span {
    display: block;
    font-size: 14px;
    color: #777; 
    margin-bottom: 20px;
  }
  
  form input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ddd; 
    border-radius: 6px; 
    font-size: 14px;
  }
  
  form a {
    display: block;
    font-size: 12px;
    color: #007bff; 
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  form a:hover {
    text-decoration: underline; 
  }
  
  form button {
    width: 100%; 
    padding: 10px;
    background: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button:hover {
    background: #395a7c; 
  }
  